HtmlOntologyWebClient/src/conf/xml-resources/web-service-references/HtmlService/wsdl/localhost_8080/HtmlService/HtmlService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.vitorfs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.vitorfs.com/" name="HtmlService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.vitorfs.com/" schemaLocation="http://localhost:8080/HtmlService/HtmlService?xsd=1"/>
</xsd:schema>
</types>
<message name="listClasses">
<part name="parameters" element="tns:listClasses"/>
</message>
<message name="listClassesResponse">
<part name="parameters" element="tns:listClassesResponse"/>
</message>
<message name="obterSubclasses">
<part name="parameters" element="tns:obterSubclasses"/>
</message>
<message name="obterSubclassesResponse">
<part name="parameters" element="tns:obterSubclassesResponse"/>
</message>
<message name="validarSemantica">
<part name="parameters" element="tns:validarSemantica"/>
</message>
<message name="validarSemanticaResponse">
<part name="parameters" element="tns:validarSemanticaResponse"/>
</message>
<portType name="HtmlService">
<operation name="listClasses">
<input wsam:Action="http://ws.vitorfs.com/HtmlService/listClassesRequest" message="tns:listClasses"/>
<output wsam:Action="http://ws.vitorfs.com/HtmlService/listClassesResponse" message="tns:listClassesResponse"/>
</operation>
<operation name="obterSubclasses">
<input wsam:Action="http://ws.vitorfs.com/HtmlService/obterSubclassesRequest" message="tns:obterSubclasses"/>
<output wsam:Action="http://ws.vitorfs.com/HtmlService/obterSubclassesResponse" message="tns:obterSubclassesResponse"/>
</operation>
<operation name="validarSemantica">
<input wsam:Action="http://ws.vitorfs.com/HtmlService/validarSemanticaRequest" message="tns:validarSemantica"/>
<output wsam:Action="http://ws.vitorfs.com/HtmlService/validarSemanticaResponse" message="tns:validarSemanticaResponse"/>
</operation>
</portType>
<binding name="HtmlServicePortBinding" type="tns:HtmlService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listClasses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obterSubclasses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarSemantica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HtmlService">
<port name="HtmlServicePort" binding="tns:HtmlServicePortBinding">
<soap:address location="http://localhost:8080/HtmlService/HtmlService"/>
</port>
</service>
</definitions>