HtmlOntologyWebClient/web/WEB-INF/wsdl/localhost_8080/HtmlService/HtmlService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.vitorfs.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.vitorfs.com/">

<xs:element name="listClasses" type="tns:listClasses"/>

<xs:element name="listClassesResponse" type="tns:listClassesResponse"/>

<xs:element name="obterSubclasses" type="tns:obterSubclasses"/>

<xs:element name="obterSubclassesResponse" type="tns:obterSubclassesResponse"/>

<xs:element name="validarSemantica" type="tns:validarSemantica"/>

<xs:element name="validarSemanticaResponse" type="tns:validarSemanticaResponse"/>

<xs:complexType name="validarSemantica">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarSemanticaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterSubclasses">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obterSubclassesResponse">
<xs:sequence>
<xs:element name="return" type="tns:tag" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tag">
<xs:sequence>
<xs:element name="equiv" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="nameSpace" type="xs:string" minOccurs="0"/>
<xs:element name="uri" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listClasses">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listClassesResponse">
<xs:sequence>
<xs:element name="return" type="tns:tag" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>